.container {
  --sectionHeight: 100vh;
  width: 0;
  position: fixed;
  z-index: 99;
  bottom: 0;
  overflow: hidden;
  right: 0; 
  height: var(--sectionHeight);
  transition-duration: var(--scrollContainerTransitionDuration);
  transition-property: width;
  transition-timing-function: ease;

  .content {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .section {
    width: 100%;
    height: var(--sectionHeight);
    overflow: hidden;
    position: relative;
  }

  .sectionContent {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10; 
    transition: opacity .3s ease;
  }
}

[data-scroll-active="true"] .container {
  width: 80%;
}